extends layout.pug 

block content 
    main.main 
        .tasks-wrapper
            .tasks-container
                h2.tasks-title To do:
                if tsToDo.length 
                    each task in tsToDo
                        div.task-wrapper
                            .task-body
                                a.task-title(href=`/tasks/${task.id}`) #{task.title}
                                p.task-description #{task.description}
                            .task-controls
                                a(href=`/tasks/${task.id}/proceed` class="task-contr-btn") Proceed     
                                a.delete-btn(href=`/tasks/${task.id}/delete` class="task-contr-btn") Delete
                                a(href=`/tasks/${task.id}/archive` class="task-contr-btn") Archive
                else   
                    p.empty-tasks No tasks here

            .tasks-container
                h2.tasks-title Doing:
                if tsDoing.length
                    each task in tsDoing
                        div.task-wrapper
                            .task-body
                                a.task-title(href=`/tasks/${task.id}`) #{task.title}
                                p.task-description #{task.description}
                            .task-controls    
                                a(href=`/tasks/${task.id}/back` class="task-contr-btn") Back
                                a(href=`/tasks/${task.id}/proceed` class="task-contr-btn") Proceed
                                a.delete-btn(href=`/tasks/${task.id}/delete` class="task-contr-btn") Delete
                                a(href=`/tasks/${task.id}/archive` class="task-contr-btn") Archive
                else 
                    p.empty-tasks No tasks here

            .tasks-container
                h2.tasks-title Done:
                if tsDone.length
                    each task in tsDone
                        div.task-wrapper
                            .task-body
                                a.task-title(href=`/tasks/${task.id}`) #{task.title}
                                p.task-description #{task.description}
                            .task-controls    
                                a(href=`/tasks/${task.id}/back` class="task-contr-btn") Back
                                a.delete-btn(href=`/tasks/${task.id}/delete` class="task-contr-btn") Delete
                                a(href=`/tasks/${task.id}/archive` class="task-contr-btn") Archive
                else 
                    p.empty-tasks No tasks here