extends layout.pug 

block content 
    main.main 
        .tasks-wrapper
            .tasks-container 
                h2.tasks-title To do:
                each task in tsToDo
                    div.task-wrapper
                        .task-body
                            a.task-title(href=`/tasks/${task.id}`) #{task.title}
                            p.task-description #{task.description}
                        .task-controls    
                            a.delete-btn(href=`/tasks/${task.id}/delete`) Delete
                            a(href=`/tasks/${task.id}/archive`) Archive

            .tasks-container
                h2.tasks-title Doing:
                each task in tsDoing
                    div.task-wrapper
                        .task-body
                            a.task-title(href=`/tasks/${task.id}`) #{task.title}
                            p.task-description #{task.description}
                        .task-controls    
                            a.delete-btn(href=`/tasks/${task.id}/delete`) Delete
                            a(href=`/tasks/${task.id}/archive`) Archive

            .tasks-container
                h2.tasks-title Done:
                each task in tsDone
                    div.task-wrapper
                        .task-body
                            a.task-title(href=`/tasks/${task.id}`) #{task.title}
                            p.task-description #{task.description}
                        .task-controls    
                            a.delete-btn(href=`/tasks/${task.id}/delete`) Delete
                            a(href=`/tasks/${task.id}/archive`) Archive